{% extends "blog/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "blog/css/blog-register.css" %}">
{% endblock css_links %}
{% block content %}
<h1>Password has been changed successfully!</h1>
<br>
<div style='display:flex; align-items:center; justify-content: center; margin-bottom:2em'>
    <button type="submit" class='btn btn-primary'>
        <a href="{% url "index" %}" style='color: white'>
            Return to Home Page
        </a>
    </button>
</div>
{% endblock content %}