.profile {
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

.profile-info p:first-child {
    font-size: 30px;
    font-weight: 600;
}

.posts {
    flex-direction: column;
    display: flex;
    margin-bottom: 2em;
}

.posts .post {
    margin-left: 1em;
}
