{% extends "blog/base.html" %}
{% include "blog/toggle_login.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "blog/css/blog-contacts.css" %}">
{% endblock css_links %}
{% block content %}
<h1 class="page-header">
    Services
</h1>

<div class="content">
    <div class="section">
        <h2>Content Creation</h2>
        <p>Custom blog posts tailored to your niche and audience, ensuring high-quality, engaging, and SEO-friendly content.</p>
    </div>

    <div class="section">
        <h2>SEO Optimization</h2>
        <p>Comprehensive SEO services to enhance your blog's visibility on search engines, including keyword research, on-page optimization, and backlink building.</p>
    </div>

    <div class="section">
        <h2>Social Media Management</h2>
        <p>Creating and managing social media profiles to promote your blog content and engage with your audience on various platforms.</p>
    </div>

    <div class="section">
        <h2>Blog Design and Development</h2>
        <p>Custom blog design and development services to create a visually appealing and user-friendly blog site that aligns with your brand.</p>
    </div>

    <div class="section">
        <h2>Content Strategy Consultation</h2>
        <p>Expert advice and strategies for planning and creating content that resonates with your target audience and drives traffic.</p>
    </div>
    
</div>
{% endblock content %}